<!-- View/Login/AsignarNuevaClave.html -->
<form id="form-asignar-clave" class="p-3 border">
    
  <h3>Asignar Nueva Contraseña</h3>
  <div class="mb-3">
    <input type="email" id="correoUsuario" class="form-control" placeholder="Correo del usuario" required />
  </div>
  <div class="mb-3">
    <input type="password" id="nuevaClave" class="form-control" placeholder="Nueva contraseña" required />
  </div>
  <button type="submit" class="btn btn-success w-100">Actualizar contraseña</button>
  <div id="mensajeClave" class="mt-2 text-center"></div>
</form>

<script type="module" src="../../Controler/Login/AsignarClaveManual.js"></script>
