<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vista Entrenador - Rutinas</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="/Proyecto sistemas/Complementos/css/EntrenadorEstilo.css" />

</head>
<body>
  <button class="btn btn-outline-dark position-absolute m-3" id="openSidebar">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Sidebar (Menú dinámico) -->
  <script type="module" src="/Proyecto sistemas/Complementos/Components/MenuEntren.js"></script>
  <script src="../../Controler/Entrenador/ControladorRutina.JS"></script>
   

  <!-- Header -->
  <header>
    <nav class="d-flex justify-content-between align-items-center px-4 py-3 bg-white">
      <div></div>
      <img src="../../Complementos/img/logoof.png" alt="Logo del gimnasio" height="60" />
      <div></div>
    </nav>
  </header>

  <main class="container-fluid my-4">
    <div class="rutinas-wrapper">
      <h6 class="text-muted">Rutinas</h6>
      <div class="table-responsive">
        <table class="table table-bordered bg-white table-rutinas">
          <thead class="table-light">
            <tr>
              <th>Instructor</th>
              <th>Nombre Ejercicio</th>
              <th>Área Muscular</th>
              <th># Rutina</th>
              <th>Descripción</th>
              <th>Cant. de repeticiones</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
            </tr>
          
            
         
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-end gap-3 mt-4">
        <button class="btn-volver">
          Regresar <i class="fas fa-arrow-right ms-1"></i>
        </button>
        <button class="btn-enviar">
          Enviar
        </button>
      </div>
    </div>
  </main>

 
</body>
</html>
